.form-select {
    height: 40px;
    width: 100%;

    .nice-select {
        border: none;
        border-radius: 0px;
        height: 40px;
        background: #f9f9ff;
        padding-left: 45px;
        padding-right: 40px;
        width: 100%;

        .list {
            margin-top: 0;
            border: none;
            border-radius: 0px;
            box-shadow: none;
            width: 100%;
            padding: 10px 0 10px 0px;

            .option {
                font-weight: 300;
                @include transition();
                line-height: 28px;
                min-height: 28px;
                font-size: 12px;
                padding-left: 45px;

                &.selected {
                    color: $primary;
                    background: transparent;
                }

                &:hover {
                    color: $primary;
                    background: transparent;
                }
            }
        }
    }

    .current {
        margin-right: 50px;
        font-weight: 300;
    }

    .nice-select::after {
        right: 20px;
    }
}
