


$primary-font	: 'Roboto', sans-serif;
$yomogi-font	: 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: $brand-success;
$secondary-color: #fdd050;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;



