// Variables
/* ---------------------------------------------- */
@import '../_variables';



// Bootstrap
//@import '~bootstrap/scss/bootstrap';



/*!
 * NODE MODULES
 */
// Icons
@import '~font-awesome/css/font-awesome.min.css';
@import '~simple-line-icons/css/simple-line-icons.css';


@import "~bootstrap/scss/bootstrap";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "./../fontface";

//
// Grid mixins
//

@import "~bootstrap/scss/mixins/breakpoints";


// including variables and mixins
@import "../theme/variables";
@import "../theme/mixins";
@import "../theme/flexbox";
@import "../theme/reset";


// Custom Scss
@import "../theme/elements";
@import "../theme/header";
@import "../theme/home";
@import "../theme/form";
@import "../theme/footer";


@import "../packages/linearicons.css";
@import "../packages/owl.carousel.css";
//@import "../packages/font-awesome.min.css";
@import "../packages/nice-select.css";
@import "../packages/magnific-popup.css";

@import "../page-index";

.about-area .overlay-bg {
    background: rgba(108, 187, 35, 0.85);
}
.common-input option {
    color: #777777;
}

.primary-btn.white-bg:hover {
    background: #fff;

    border: 1px solid transparent;
    span {
        color: #6cbb23;
    }
}

html {
    //height: 100vh;
}
body {
    //height: 100vh;
    color: #222222;
    //background: url(../img/contact-bg.jpg) no-repeat center center/cover;
    //.overlay-bg {
    //    background: rgba($primary-color, .85);
    //}
}

@import './../../../common/fancybox/jquery.fancybox.min.css';
@import './../../../common/fancybox/fancybox.support.css';

//$brand-primary:             #20a8d8;
//$brand-success:             #6cbb23;
//$brand-info:                #63c2de;
//$brand-warning:             #f8cb00;
//$brand-danger:              #f86c6b;

.common-input {
    &:focus {
        outline: none;
    }
    &.is-danger {
        border-color: $brand-danger;
        &::placeholder {
            //color: $brand-danger;
        }
    }
}
.default-input {
    color: $gray;
    &:focus {
        outline: none;
    }
    &.is-danger {
        border-color: $brand-danger;
    }
    &::placeholder {
        color: lighten($gray, 20%);
    }
}


@import './../../../common/toastr/toastr';
@import './../../../common/loader';

.primary-btn:hover {
    //background: #f1ffe5fc;
    .mr-10 {
        margin-right: 10px;
    }
}
.primary-btn.is-loading {
    height: 42px;
    //width: 121.1px;
    position: relative;
    color: transparent !important;
    pointer-events: none;

    i:before {
        visibility: hidden;
    }
    span {
        visibility: hidden;
    }

    &:after {
        @include loader;
        @include center(16px);
        position: absolute;
    }
}
.default-btn {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: $title-color;
    span {
        color: $gray;
        font-weight: 300;
    }
    &.is-loading:after {
        border-right-color: $brand-success;
        border-top-color: $brand-success;
    }
}

.section-gap {
    padding-top: 0;
}

[data-fancybox] {
    &:hover {
        @include transition();
        opacity: .9;
        cursor: pointer;
    }
}

.oz-body-wrap {
    &.__form-a {
        nav {
            @include media-breakpoint-down (sm) {
                background: $brand-success;
            }
        }
        nav a:hover {
            color: #fff;
        }
        .primary-btn.is-loading {
            &:after {
                border-right-color: $brand-success;
                border-top-color: $brand-success;
            }
        }
        .common-input {
            border-color: #fff;
            &.is-danger {
                border-color: $brand-danger;
            }
        }
    }
    &.__form-b {
        nav {
            @include media-breakpoint-down (sm) {
                background: $brand-primary;
            }
        }
        nav a:hover {
            color: #fff;
        }
        .genric-btn.primary-border {
            color: $brand-primary;
            border: 1px solid $brand-primary;
            background: #fff;
            &:hover {
                color: #fff;
                background: $brand-primary;
                border: 1px solid transparent;
            }
        }
        background: url(../img/video-bg.jpg) no-repeat center center/cover;
        .overlay-bg {
            background-color: rgba($brand-primary, 0.85);
        }
        .primary-btn.white-bg {
            span {
                color: $brand-primary;
            }
            &:hover {
                background: #fff;

                border: 1px solid transparent;

                span {
                    color: $brand-primary;
                }
            }
        }
        .common-input {
            border-color: #fff;
            &.is-danger {
                border-color: $brand-danger;
            }
        }
        .primary-btn.is-loading {
            &:after {
                border-right-color: $brand-primary;
                border-top-color: $brand-primary;
            }
        }
        .footer-social a:hover {
            background: $brand-primary;
        }
    }
}
.jet-container {
    .jet-message {
        display: none;
        font-size: 26px;
        font-weight: 300;
        position: absolute;
        top: 50%;
    }
    &.jet-active {
        .jet-message {
            display: block;
        }
        .jet-opacity-lock {
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            opacity: .5;
        }
    }
}



.color-1 {
    color: $brand-success;
    font-size: 46px;
}
.color-2 {
    color: $brand-danger;
    font-size: 30px;
}
.color-3 {
    color: $brand-warning;
    font-size: 57px;
}
.color-4 {
    color: $brand-info;
    font-size: 49px;
}
.color-5 {
    color: $pink;
    font-size: 35px;
}
.color-6 {
    color: $purple;
    font-size: 25px;
}
.color-7 {
    color: $indigo;
    font-size: 55px;
}
.color-8 {
    color: $red;
    font-size: 45px;
}
.color-9 {
    color: $green;
    font-size: 38px;
}
.color-10 {
    color: $cyan;
    font-size: 48px;
}
.color-11 {
    color: $cleanblue;
}
.contact-area {

}
//
//.--message-form-container {
//    background-color: rgba(56,193,114,.85);
//    padding-bottom: 20px;
//}
