<template>
    <div class="block-container">
<!--        <div class="block">-->
<!--            <p class="digit">{{ days }}</p>-->
<!--&lt;!&ndash;            <p class="text">Дней</p>&ndash;&gt;-->
<!--        </div>-->
        <div class="block">
            <p class="digit">{{ hours | two_digits }}:</p>
<!--            <p class="text">Часов</p>-->
        </div>
        <div class="block">
            <p class="digit">{{ minutes | two_digits }}:</p>
<!--            <p class="text">Минут</p>-->
        </div>
        <div class="block">
            <p class="digit">{{ seconds | two_digits }}</p>
<!--            <p class="text">Секунд</p>-->
        </div>
    </div>
</template>
<script>
    export default {

        /* ready function will be here */

        props: {
            date: {
                type: Number | String,

                coerce: str => Math.trunc(Date.parse(str) / 1000)
            }
        },

        data() {
            return {
                now: Math.trunc((new Date()).getTime() / 1000)
            }
        },

        mounted() {
            window.setInterval(() => {
                this.now = Math.trunc((new Date()).getTime() / 1000);
            }, 1000);
        },
        computed: {
            seconds() {
                return (this.date - this.now) % 60;
            },

            minutes() {
                return Math.trunc((this.date - this.now) / 60) % 60;
            },

            hours() {
                return Math.trunc((this.date - this.now) / 60 / 60) % 24;
            },

            days() {
                return Math.trunc((this.date - this.now) / 60 / 60 / 24);
            }
        }

        /* Computed properties will be here */
    }
</script>
<style lang="scss">
    @import '../../../sass/app/bootstrap/_variables';
    @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);

    .block-container {
        text-align: center;
    }
    .block {
        display: inline-flex;
        flex-direction: column;
        margin: 20px 0;
    }

    .text {
        color: $orange;
        font-size: 40px;
        font-family: 'Roboto Condensed', serif;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .digit {
        color: #969a9b;
        font-size: 150px;
        font-weight: 100;
        font-family: 'Roboto', serif;
        margin: 10px;
        text-align: center;
    }
</style>
