<template>
    <div class="container">
        <div class="row" v-if="!isFullSuccess">
            <div class="col-12 section--progress">
                <p class="text-center" v-if="!isFullLoading">
                    {{ question.number }}/{{ questions.length }}
                </p>
                <div class="progress" style="height: 1px;">
                    <div class="progress-bar" role="progressbar"
                         v-bind:style="{ width: [progress + '%'] }"
                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-12" v-if="isLoading">
                <div class="dialog__loading is-primary"></div>
            </div>
            <div class="col-12 section--question" v-if="!isLoading">
                <div class="mt-25 mb-25">
                    <div class="alert" role="alert">
                        <h4 class="alert-heading">
                            Загадка №{{ question.number }}: {{ question.title }}
                        </h4>
                        <div class="alert-body">
                            <div class="alert-question oz-body-wrap" style="margin-top: 20px;">
                                <p class="question-main montserrat" v-html="question.description"></p>
                                <hr>
                                <p class="mb-0" v-if="question.purpose !== null">{{ question.purpose }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 section--answer" v-if="!isLoading">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="oz-body-wrap" style="width: 300px; padding: 25px; margin-top: 0;background-color: #fff;z-index: 2">
                        <div class="row justify-content-center text-center">
                            <div class="single-contact col-lg-6 col-md-8">
                                <h2>Ответ</h2>
<!--                                <p>Введите ваш ответ</p>-->
                            </div>
                        </div>
                        <form method="post" class="contact-form" v-on:submit.prevent="sendAnswer">
                            <input type="hidden" :value="question.id">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <input name="answer" placeholder="Ответ" class="default-input mt-20" required="" type="text" v-model="answer">
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button
                                        v-bind:class="[{ 'is-loading': isLoadingButton }, 'primary-btn default-btn d-inline-flex align-items-center mt-20']"
                                        type="button" @click="sendAnswer">
                                        <span>Подтвердить</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div v-bind:class="[{ 'active': hints.active }, 'hint-helper']">
                <img class="hint-image" src="/img/puk.jpg" alt="">
                <div class="hint-question">
                    <h4>Хочешь подсказку?</h4>
                    <div class="hint-buttons">
                        <button
                            v-bind:class="[{ 'is-loading': isLoadingHint }, 'primary-btn default-btn align-items-center bigger']"
                            type="button" @click="hintSend">
                            <span class="text-success">Хочу</span>
                        </button>
                        <button
                            class="primary-btn default-btn align-items-center"
                            type="button" @click="hintClose">
                            <span class="text-default">Не хочу</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 section--hint-counter" v-if="!isLoading">
                <p class="text-center">Количество подсказок</p>
                <div class="hint-counter-container">
                    <div v-for="(item, index) in hints.count"
                         v-bind:class="[{ 'active': item > hints.used }, 'hint-counter']"
                    ></div>
                </div>
            </div>
            <div v-if="!isLoading">
                <img class="avatar is-bird" src="/img/il.jpg" v-bind:style="{ left: ['calc(50% + ' + birdProgress + 'px)'] }">
                <img class="avatar is-fe" src="/img/fe.jpg" v-bind:style="{ left: ['calc(50% + ' + feProgress + 'px)'] }">
                <img class="avatar is-rrr" src="/img/rrr.jpg" v-bind:style="{ top: [rrrProgress + 'px'] }">
                <div class="success-container" v-if="successSecondsShow">
                    <img class="success-image" src="/img/iii.jpg" alt="" v-bind:style="{ width: [successProgress + '%'] }">
                </div>
                <div class="success-container-2" v-if="successShow">
                    <img class="success-image" src="/img/tenor.gif" alt="" v-if="successGif === 0">
                    <img class="success-image" src="/img/tenor2.gif" alt="" v-if="successGif === 1">
                    <img class="success-image" src="/img/tenor4.gif" alt="" v-if="successGif === 2">
                </div>
            </div>
            <div class="col-12 section--countdown" v-if="started_at !== null">
                <Countdown :date="date(started_at)"></Countdown>
            </div>
        </div>
        <div class="row" v-if="isFullSuccess">
            <div class="col-12">
                <h1 class="title">
                    <span class="color-1">П</span>
                    <span class="color-2">О</span>
                    <span class="color-4">З</span>
                    <span class="color-3">Д</span>
                    <span class="color-6">Р</span>
                    <span class="color-5">А</span>
                    <span class="color-1">В</span>
                    <span class="color-7">Л</span>
                    <span class="color-8">Я</span>
                    <span class="color-9">Ю</span>
                </h1>
                <p class="success-text text-center">
                    Ты отлично справилась! <br>
                    Приз находится в
                    <br><br>
                    <span class="color-4">Ч</span>
                    <span class="color-6">Е</span>
                    <span class="color-3">М</span>
                    <span class="color-1">О</span>
                    <span class="color-8">Д</span>
                    <span class="color-11">А</span>
                    <span class="color-2">Н</span>
                    <span class="color-7">Е</span>
                </p>
                <div class="success-final-gif">
                    <img class="success-image" src="/img/tenor.gif" alt="">
                    <img class="success-image" src="/img/tenor2.gif" alt="">
                    <img class="success-image" src="/img/tenor4.gif" alt="">
                    <img class="success-image" src="/img/tenor5.gif" alt="">
                    <img class="success-image" src="/img/tenor6.gif" alt="">
                    <img class="success-image" src="/img/tenor7.gif" alt="">
                    <img class="success-image" src="/img/tenor8.gif" alt="">
                    <img class="success-image" src="/img/ezgif-4-4431e73ed0d2.gif" alt="">
                    <img class="success-image" src="/img/tenor9.gif" alt="">
                    <img class="success-image" src="/img/tenor10.gif" alt="">
                    <img class="success-image" src="/img/tenor11.gif" alt="">
                    <img class="success-image" src="/img/tenor12.gif" alt="">
                    <img class="success-image" src="/img/tenor13.gif" alt="">
                    <img class="success-image" src="/img/tenor16.gif" alt="">
                    <img class="success-image" src="/img/tenor15.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import Countdown from './Countdown.vue';

    export default {
        name: 'Index',
        components: {Countdown},
        data() {
            /**
             * Данные приложения
             * В методах через this
             * В шаблонах без
             */
            return {
                isFullSuccess: false,

                isFullLoading: true,
                isLoading: true,
                isLoadingHint: false,
                isLoadingButton: false,
                url: {
                    data: '/api/data',
                    answer: '/api/answer',
                    hint: '/api/hint',
                },
                started_at: null,
                buttonIsLoading: false,

                answer: '',
                questions: [],
                question: {},

                seconds: 0,
                secondsTry: 20,
                resetSeconds: 5,

                hints: {
                    active: false,
                    count: 0,
                    used: 0,
                },
                intervalHints: null,



                birdSeconds: 0,
                intervalBird: null,

                feSeconds: 0,
                intefvalFe: null,

                rrrSeconds: 240,
                intefvalRrr: null,


                successShow: false,
                successGif: 0,
                successSeconds: 100,
                intervalSuccess: null,
                successSecondsShow: false,
            }
        },

        /**
         *
         */
        methods: {
            /**
             * Получить релиз
             */
            getData() {
                let self = this;
                self.isLoading = true;
                let data = {
                    question_id: self.question.id,
                };
                axios.post(self.url.data, data)
                    .then(response => {
                        console.log(response);
                        let result = response.data;
                        let data = result.data;
                        if (result.success && data.questions) {
                            self.questions = data.questions;
                        }
                        if (result.success && data.question) {
                            self.setActiveQuestion(data.question);
                        }
                        if (result.success && data.started_at) {
                            self.started_at = data.started_at;
                        }

                        self.isLoading = false;
                        if (self.isFullLoading) {
                            self.isFullLoading = false;
                        }
                    })
                    .catch();
            },
            setActiveQuestion(question) {
                const self = this;
                self.question = question;
                self.hints.count = self.question.hints.count;
                self.hints.used = self.question.hints.used;
                if (self.hints.count !== 0) {
                    self.runQuestionHint();
                }
            },
            sendAnswer() {
                let self = this;
                let data = {
                    question_id: self.question.id,
                    answer: self.answer,
                };
                self.isLoadingButton = true;
                axios.post(self.url.answer, data)
                    .then(response => {
                        self.afterAnswer();
                        let result = response.data;
                        let data = result.data;
                        if (result.success && data.question) {
                            self.setActiveQuestion(data.question);
                        }
                        if (data.toastr) {
                            window.notification.send(response.data.toastr);
                        }
                        if (data.final !== undefined) {
                            self.avatarSuccessAnimation();
                        } else {
                            self.successBeShow();
                        }
                    })
                    .catch(error => {
                        self.afterAnswer();
                        const data = error.response.data;
                        window.notification.send({
                            type: 'error',
                            title: 'Ошибка',
                            text: data.message,
                        });
                    });
            },
            afterAnswer() {
                const self = this;
                self.answer = '';
                self.isLoadingButton = false;
            },
            runQuestionHint() {
                let self = this;
                clearInterval(self.intervalHints);
                if (self.hints.count === self.hints.used) {
                    return;
                }
                self.intervalHints = setInterval(() => {
                    self.seconds++;
                    if (self.seconds >= self.secondsTry && !self.hints.active) {
                        self.hints.active = true;
                    }
                    if (self.seconds >= (self.secondsTry + self.resetSeconds) && self.hints.active) {
                        self.hints.active = false;
                        self.seconds = 0;
                    }
                }, 1000);
            },
            hintClose() {
                let self = this;
                self.hints.active = false;
                self.runQuestionHint();
            },
            hintSend() {
                let self = this;
                let data = {
                    question_id: self.question.id,
                };
                self.isLoadingHint = true;
                axios.post(self.url.hint, data)
                    .then(response => {
                        let data = response.data;
                        self.isLoadingHint = false;
                        self.hintClose();
                        window.notification.send({
                            type: 'success',
                            title: 'Подсказка',
                            text: data.toastr.text,
                        });
                        self.hints.used++;
                    })
                    .catch(error => {
                        const data = error.response.data;
                        window.notification.send({
                            type: 'error',
                            title: 'Ошибка',
                            text: data.message,
                        });
                        self.isLoadingHint = false;
                    });
            },
            getRandomIntInclusive(min, max) {
                min = Math.ceil(min);
                max = Math.floor(max);
                return Math.floor(Math.random() * (max - min + 1)) + min; //Максимум и минимум включаются
            },
            avatarAnimation() {
                const self = this;
                self.intervalBird = setInterval(() => {
                    let int = self.getRandomIntInclusive(0, 3);
                    if (int === 0) {
                        self.birdSeconds = 100
                    }
                    if (int === 1) {
                        self.birdSeconds = -200
                    }
                    if (int === 2) {
                        self.birdSeconds = 140
                    }
                    if (int === 3) {
                        self.birdSeconds = -240
                    }
                    setTimeout(function () {
                        self.birdSeconds = 0;
                    }, 1000)
                }, 8000);
            },
            avatarFeAnimation() {
                const self = this;
                self.intervalFe = setInterval(() => {
                    let int = self.getRandomIntInclusive(0, 3);
                    if (int === 0) {
                        self.feSeconds = 200
                    }
                    if (int === 1) {
                        self.feSeconds = -350
                    }
                    if (int === 2) {
                        self.feSeconds = 280
                    }
                    if (int === 3) {
                        self.feSeconds = -330
                    }
                    setTimeout(function () {
                        self.feSeconds = 0;
                    }, 1000)
                }, 6000);
            },
            avatarRrrAnimation() {
                const self = this;
                self.intervalRrr = setInterval(() => {
                    let int = self.getRandomIntInclusive(0, 3);
                    if (int === 0) {
                        self.rrrSeconds = 330
                    }
                    if (int === 1) {
                        self.rrrSeconds = 100
                    }
                    if (int === 2) {
                        self.rrrSeconds = 350
                    }
                    if (int === 3) {
                        self.rrrSeconds = 0
                    }
                    setTimeout(function () {
                        self.rrrSeconds = 240;
                    }, 1000)
                }, 10000);
            },
            avatarSuccessAnimation() {
                const self = this;
                self.successSecondsShow = true;
                self.isFullSuccess = true;
                self.intervalSuccess = setInterval(() => {
                    let int = self.getRandomIntInclusive(0, 1);
                    if (int === 0) {
                        self.successSeconds = 100
                    }
                    if (int === 1) {
                        self.successSeconds = 90
                    }
                }, 300);
                setTimeout(function () {
                    self.successSecondsShow = false;
                }, 8000);
            },
            successBeShow() {
                const self = this;
                self.successGif = self.getRandomIntInclusive(0, 2);
                self.successShow = true;
                setTimeout(function () {
                    self.successShow = false;
                }, 4000);
            },
            successClear() {
                const self = this;
                clearInterval(self.intervalSuccess);
            },
            date(string) {
                console.log(string);
                console.log(Date.parse(string));
                console.log(Math.trunc(Date.parse(string) / 1000));
                return Math.trunc(Date.parse(string) / 1000);
            }
        },

        computed: {
            progress() {
                const self = this;
                return self.question.number / self.questions.length  * 100;
            },
            birdProgress() {
                const self = this;
                return self.birdSeconds;
            },
            feProgress() {
                const self = this;
                return self.feSeconds;
            },
            rrrProgress() {
                const self = this;
                return self.rrrSeconds;
            },
            successProgress() {
                const self = this;
                return self.successSeconds;
            }
        },


        /**
         * Вызывается при построении компонента
         */
        mounted() {
            const self = this;
            self.getData();
            self.avatarAnimation();
            self.avatarFeAnimation();
            self.avatarRrrAnimation();
        },
    }
</script>
<style lang="scss">
    @import '../../../sass/app/bootstrap/_variables';

    .section--answer {
        h2 {
            font-size: 36px;
            font-weight: 300;
        }
    }

    .hint-helper {
        position: fixed;
        .hint-image {
            width: 70px;
            height: 70px;
            border-radius: 100%;
            box-shadow: 0 1px 23px 0px #777;
        }
        .hint-question {
            position: absolute;
            top: -33px;
            right: 55px;
            width: 170px;
            height: 60px;
            //background-color: #ccc;
            //box-shadow: 0 0 2px 0 #ccc;
            //border-radius: 10px;
            button {
                border: none;
                font-size: 12px;
                padding: 0 5px;
                height: 42px;
                span {
                    font-weight: 400;
                    color: #444;
                }
                &.bigger {
                    font-size: 15px;
                }
            }
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h4 {
                font-weight: 300;
            }
            .hint-buttons {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        bottom: 50px;
        right: -500px;
        &.active {
            right: -10px;
        }
    }
    .question-main {
        font-size: 16px;
        line-height: 24px;
        b {
            font-weight: 600;
        }
        blockquote {
            margin: 20px 0;
            padding-left: 1.5rem;
            border-left: 5px solid $brand-danger;
        }
    }
    .about-generic-area .border-top-generic {
        padding: 50px 15px;
    }
    .alert-heading {
        text-align: center;
    }
    .alert-body {
        display: flex;
        justify-content: center;
        .alert-question {
            padding: 20px;
            width: 500px;
            margin-bottom: 0;
            z-index: 2;
            background-color: #fff;
        }
    }
    .question-main {
        text-align: center;
        blockquote {
            font-weight: bold;
        }
    }
    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        box-shadow: 0 1px 23px 0px #777;
        filter: brightness(1.3);
        &.is-bird {
            position: absolute;
            top: 500px;
            left: calc(50% + 100px);
            z-index: 1;
            transition: all 0.5s ease-out 0s;
        }
        &.is-fe {
            position: absolute;
            top: 200px;
            left: calc(50% + 100px);
            z-index: 1;
            transition: all 0.5s ease-out 0s;
        }
        &.is-rrr {
            position: absolute;
            top: 240px;
            left: 50%;
            z-index: 1;
            transition: all 0.5s ease-out 0s;
        }
    }
    .success-container-2 {
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% + 300px);
        z-index: 3;
    }
    .success-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        /*background-color: rgb(56,193,114, 0.7);*/
        img {
            width: 100%;
            //box-shadow: 0 0 10px $brand-success;
        }
    }
    .block-container {
        text-align: center;
        .block {
            display: inline-flex;
            flex-direction: column;
            margin: 0;
        }
        .text {
            color: $brand-danger;
            font-size: 14px;
            font-family: "Montserrat", "Roboto", sans-serif;
            font-weight: 300;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .digit {
            color: $gray;
            font-size: 25px;
            font-weight: 300;
            font-family: "Montserrat", "Roboto", sans-serif;
            margin: 0;
            text-align: center;
        }
    }
    .section--countdown {
        position: fixed;
        width: 400px;
        top: 350px;
        left: 200px;
    }
    .section--hint-counter {
        position: fixed;
        width: 400px;
        top: 450px;
        left: 200px;
        text-align: center;
        p {
            margin-bottom: 5px;
        }
    }
    .hint-counter-container {
        display: inline-flex;
        margin: 0;
        justify-content: center;
        flex-direction: row-reverse;
        .hint-counter {
            margin: 2px;
            width: 14px;
            height: 14px;
            border: 2px solid $brand-success;
            background: #fff;
            top: 4px;
            left: 0;
            border-radius: 50%;
            &.active {
                background-color: $brand-success;
            }
        }
    }

    .title {
        text-align: center;
        font-weight: 300;
    }
    .success-text {
        font-size: 16px;
    }
    .success-final-gif {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        img {
            width: 200px;
            margin: 5px;
        }
    }
    .d {

    }

</style>
