<template>
    <div>
        <Countdown :date="date('December 25, 2019')"></Countdown>
    </div>
</template>

<script>
    import Countdown from './Countdown.vue';

    export default {
        name: 'Wait',
        components: {Countdown},

        /**
         *
         */
        methods: {
            date(string) {
                return Math.trunc(Date.parse(string) / 1000)
            }
        },
        /**
         * Вызывается при построении компонента
         */
        mounted() {
            const self = this;
        },
    }
</script>
<style lang="scss">
    .app {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #app {
        align-items: center;
        bottom: 0;
        background-color: #34495e;
        display: flex;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
</style>
