@import '~typeface-montserrat/index.css';

@font-face {
    font-family: 'Qavo';
    font-style: normal;
    font-display: swap;
    font-weight: 100;
    src:
        local('Qavo'),
        url('./fonts/Qavo/Qavo.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
}
.montserrat {
    font-family: 'Montserrat', 'Roboto', sans-serif;
}
.qavo {
    font-family: 'Qavo', 'Roboto', sans-serif;
}
