/*!
 * Copyright (c) 2018-2019 "ИД Панорама"
 * Автор модуля: Дмитрий Поскачей (dposkachei@gmail.com)
 */


// Body
$body-bg: #f8fafc;
$gray: #777777;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #f86c6b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$cleanblue: #06549d;

//@import '../_variables';
$brand-primary: $blue;
$brand-success: $green;
$brand-danger: $red;
$brand-warning: $yellow;
$brand-info: $blue;

