

.--page-html-content {
  &.container {
    p {
      //margin-bottom: 10px;
    }
    img {
      float: none !important;
      display: block;
      margin: 0 auto;
    }
    img.note-float-left {
      float: left !important;
      margin-right: 10px;
    }
    img.note-float-right {
      float: right !important;
      margin-left: 10px;
    }
  }
  .note-editable {
    img {
      float: none !important;
      display: block;
      margin: 0 auto;
    }
    img.note-float-left {
      float: left !important;
      //margin: 0 auto 0 0;
    }
    img.note-float-right {
      float: right !important;
      //margin: 0 0 0 auto;
    }
  }
}

.note-editor {
  .note-btn.active {
    color: #fff;
    background-color: #2a2c36;
    //border-color: #2a2c36;
  }
}

.note-image-popover {
  padding: 0;
  .popover-content {
    padding: 0;
    .note-btn-group {
      margin: 5px;
    }
  }
}

.note-table-popover {
  padding: 0;
  .popover-content {
    padding: 0;
    .note-btn-group {
      margin: 5px;
    }
  }
}
